@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root{
   --c1:#1B005F;
   --c1-tone:#31137a;
   --c2:#D600C0;
   --c2-tone:#e433d2;
   --c3:#8009A4;
   --c3-tone:#a832cc;
   --c4:#00b0f2;
   --c4-tone:#2a53da;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montaserrat, Arial, Helvetica, sans-serif;
}